<div class="week-view-container">
    <div class="hours">
        <div></div>
        <div class="hour">00:00</div>
        <div class="hour">01:00</div>
        <div class="hour">02:00</div>
        <div class="hour">03:00</div>
        <div class="hour">04:00</div>
        <div class="hour">05:00</div>
        <div class="hour">06:00</div>
        <div class="hour">07:00</div>
        <div class="hour">08:00</div>
        <div class="hour">09:00</div>
        <div class="hour">10:00</div>
        <div class="hour">11:00</div>
        <div class="hour">12:00</div>
        <div class="hour">13:00</div>
        <div class="hour">14:00</div>
        <div class="hour">15:00</div>
        <div class="hour">16:00</div>
        <div class="hour">17:00</div>
        <div class="hour">18:00</div>
        <div class="hour">19:00</div>
        <div class="hour">20:00</div>
        <div class="hour">21:00</div>
        <div class="hour">22:00</div>
        <div class="hour">23:00</div>
        <div class="hour">23:00</div>
    </div>
    <div class="columns">
        <div class="column" *ngFor="let day of days; let dayIdx = index">
            <span class="day">{{ getWeekDay(dayIdx) }}</span>
            <div class="time-slot" *ngFor="let timeSlot of timeSlots; let i = index"></div>
        </div>
    </div>
</div>